body{
    background-image: url(https://image.shutterstock.com/image-photo/cyber-security-digital-crime-concept-260nw-1811727022.jpg);
    background-size: cover;
    font-family: Arial;
    margin-top: 0px;
}

h1{
    margin: 0px;
    padding: 20px;
    width: 1fr;
    text-align: center;
    color: white;
    background-color: rgba(48, 48, 184, 50%);
    font-size: 40px;
}

button{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 30px;
    font-weight: bold;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
    background-color: #3c993f;
    border-radius: 8px;
    border-color: rgb(75, 75, 75);
    color: white;
    box-shadow: 4px 2px 2px rgb(75, 75, 75);
}

button:hover{
    background-color: #4CAF50;
}